body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgb(231, 204, 201);

}

.details{
  justify-content: center;
  text-align: center;
}
.index{
  justify-content: center;
  text-align: center;
}
li{
  list-style: none;
}
.homeImage{
  height: 500px;
  width: 850px;
}