@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&family=Faster+One&family=Hind+Siliguri:wght@300&family=Londrina+Shadow&family=Monofett&family=Press+Start+2P&display=swap");

body {
  margin: 10px;
  font-family: 'Arima Madurai', Bold;

  background-color: rgb(231, 204, 201);

}

.details{
  justify-content: center;
  text-align: center;
}
.index{
  justify-content: center;
  text-align: center;
}
li{
  list-style: none;
}
.homeImage{
  height: 500px;
  width: 850px;
}