@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&family=Faster+One&family=Hind+Siliguri:wght@300&family=Londrina+Shadow&family=Monofett&family=Press+Start+2P&display=swap");

body {
  margin: 10px;
  font-family: 'Arima Madurai', Bold;

  background-color: rgb(231, 204, 201);

}

.details{
  justify-content: center;
  text-align: center;
}
.index{
  justify-content: center;
  text-align: center;
}
li{
  list-style: none;
}
.homeImage{
  height: 500px;
  width: 850px;
}
.indexImage{
  max-height: 350px;
  max-width: 400px;
}

.imageContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap: 20px;
  padding: 20px;
}

.title{
  text-align: center;
}

.art:hover{
  transform: scale(1.10);
}
.button{
  background-color: #528AAE;
  color: #FFFFF0;
  padding: 5px 15px;
  border-radius: 3px;
  outline: 0;
  box-shadow: 0px 2px 2px lightgray;
  cursor: pointer;
}

button:hover{
  background-color: rgb(235, 130, 78);

}

@media only screen and (max-width: 768px) {
  #grid {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1000px) {
    #grid {
      grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1500px) {
  #grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}